.foo {
  color: red;
}

.foo-bar {
  color: green;
}

:global(.baz) {
  color: yellow;
}

.parent {
  .child {
    color: blue;
  }
}

@keyframes my-cool-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
